<html>
<body bgcolor="black">
<h3 align="center"><font color="gold">Build by Power of Terraform <font color="red"> v1.0.9</font></h3>
<h2 align="center"><font color="green">
Welcome to {{ ansible_facts['fqdn'] }} on IP {{ ansible_facts['default_ipv4']['address'] }}</font>
<br/></h2>
<p align="center"><font color="magenta">
<b>Version 1.0</b></font><br/>
<font color="white">
<b>Created by Alex Largman</b></font>
</p>
</body>
</html>